{% load static %}

<footer class="text-center parallax">
    <div id="contact-banner" class="contact-banner">
        <h1>CONTACTO</h1>
    </div>
    <div class="container-fluid" id="contact-section">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <p>
                    <strong>OFICINAS ADMINISTRATIVAS</strong><br>
                    Lunes a jueves 7 a.m. a 12 m y 1:30 a 6 p.m.<br>
                    Viernes 7 a.m. a 12 m y 1:30 a 5 p.m.<br>
                    Sábados, domingos y festivos, no se presta servicio.
                </p>
            </div>
            <div class="col-md-4">
                <h5>HORARIOS DE ATENCIÓN :</h5>
                <p>
                    <strong>GIMNASIO</strong><br>
                    Lunes a Jueves 6 a.m. a 9 p.m. | Viernes 6 a.m. a 8 p.m. | Sábados y Domingos: 6 a.m. a 12 m.<br>
                    Teléfono: 3788500 ext. 602.<br><br>
                    <strong>ZONA HÚMEDA</strong><br>
                    Martes y Miércoles 7 a.m. a 8:30 p.m. | Jueves y Viernes 7 a.m. a 6 p.m. | Sábado, Domingo y festivos 7 a.m. a 5:30 p.m.<br>
                    Teléfono: 3788500 ext. 603.
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>COORDINACIÓN DEPORTIVA Y ACTIVIDAD FÍSICA</strong><br>
                    Lunes a jueves de 8 a.m. a 12 m y de 2 p.m. a 6 p.m.<br>
                    Viernes 8 a.m. a 12 m y de 2 p.m. a 5 p.m.<br>
                    Teléfono Deportes: 3788500 ext. 605.<br>
                    Tesorería: 3788500 ext. 606.<br>
                    <strong>LÍNEAS DE ATENCIÓN:</strong><br>
                    Fisioterapia: 3788500 ext. 604.<br>
                    Comunicaciones: 3788500 ext. 609.<br>
                    Contabilidad: 3788500 ext. 607.
                </p>
            </div>
        </div>
        <div id="contacto" class="row justify-content-between align-items-center">
            <div class="col-md-4 text-left">
                <h5>OFICINA</h5>
                <p>
                    Oficinas Centro Administrativo Indec, edificio contiguo a la pista de patinaje<br>
                    NIT: 800019147-1 - Código Postal: 55440<br>
                    Dirección: Carrera 45B Calle 132B sur 112 <br>Caldas, Antioquia – Colombia<br>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="https://colosal-indec-client.s3.amazonaws.com/WEB/logo_gris.png" alt="Logo" class="custom-img">
            </div>
            <div class="col-md-4 text-right">
                <h5>CONTACTO</h5>
                <p>
                    Instituto de Deporte y Recreación de Caldas <strong>INDEC</strong><br>
                    Correo electrónico: contactenos@indeccaldas.gov.co<br>
                    Correo electrónico para Notificaciones Judiciales: notificacionesjudiciales@indeccaldas.gov.co<br>
                    Teléfono Oficinas Administrativas: 3788500 ext. 601<br>
                </p>
            </div>
        </div>
    </div>
</footer>
