{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container login-container">
            {% if request.user.is_authenticated %}
                <h1 class="text-center mb-4">Ya estás autenticado</h1>
                <div class="text-center">
                    <p>Has iniciado sesión como <strong>{{ request.user.username }}</strong>.</p>
                    <a href="{% url 'logout' %}" class="btn btn-dark">Cerrar Sesión</a>
                </div>
            {% else %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            Error al iniciar sesión, porfavor intente de nuevo
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="text-center mb-4">Iniciar Sesión</h3>
                                    <form method="post" action="{% url 'login' %}">
                                        {% csrf_token %}
                                        <div class="form-group mb-4">
                                            <label for="username">Usuario</label>
                                            <input type="text" class="form-control" id="username" name="username" placeholder="Tu nombre de usuario" required>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="password">Contraseña</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Tu contraseña" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                                        <div class="form-group mb-4 text-center">
                                            <a href="#" class="text-muted">¿Olvidaste tu usuario o contraseña?</a>
                                        </div>
                                        <div class="text-center mt-4">
                                            <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Crea una ahora</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            {% endif %}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-XXXXX" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-XXXXX" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-XXXXX" crossorigin="anonymous"></script>
    </body>
</html>
{% endblock %}
