<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <!-- About Us -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Sobre Nosotros</h5>
                <p>
                    Somos una empresa dedicada a proporcionar soluciones tecnológicas innovadoras. Nuestro objetivo es mejorar la vida de las personas a través de la tecnología.
                </p>
            </div>
            <!-- Contact Info -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contacto</h5>
                <ul class="list-unstyled mb-0">
                    <li><i class="bi bi-geo-alt-fill"></i> Calle Falsa 123, Ciudad, País</li>
                    <li><i class="bi bi-telephone-fill"></i> +123 456 7890</li>
                    <li><i class="bi bi-envelope-fill"></i> info@tusitio.com</li>
                </ul>
            </div>
            <!-- Social Media Links -->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Redes sociales</h5>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li><a href="#!" class="m-1" style="color: #3b5998;"><i class="fab fa-facebook-f"></i></a></li> <!-- Facebook -->
                    <li><a href="#!" class="m-1" style="color: #e1306c;"><i class="fab fa-instagram"></i></a></li> <!-- Instagram -->
                    <li><a href="#!" class="m-1" style="color: #25d366;"><i class="fab fa-whatsapp"></i></a></li> <!-- WhatsApp -->
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" href="https://tusitio.com/">tusitio.com</a>
    </div>
</footer>
